@model dynamic

@{
    ViewBag.Title = "Index16Data";
}

<div id="box" style="width:120px" class="easyui-menu">
    <div>新建</div>
    <div>
        <span>打开</span>
        <div style="width: 150px">
            <div>Word</div>
            <div>Excel</div>
            <div>PowerPoint</div>
        </div>
    </div>
    <div data-options="iconCls:'icon-save'">保存</div>
    <div class="menu-sep"></div>
    <div>退出</div>
</div>