@model dynamic

@{
    ViewBag.Title = "Index20Data";
}

<input id="ss" style="width: 300px" class="easyui-searchbox" data-options="searcher:'qq', prompt:'Please Input Value', menu:'#box'"/>

<div id="box" style="width: 120px">
    <div data-options="name:'all', iconCls:'icon-ok'">All News</div>
    <div data-options="name:'sports'">Sports News</div>
</div>