@model dynamic

@{
    ViewBag.Title = "Index03Js";
}

<div id="box" style="width: 400px; height: 200px; background-color: orange">
    <span id="pox">内容部分</span>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index03.js"></script>
}
