@model dynamic

@{
    ViewBag.Title = "Index14Js";
}

<div id="box" title="My Dialog" style="width: 400px; height: 200px">
    对话框
</div>

<div id="tt">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true">帮助</a>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index14.js"></script>
}
