@model dynamic

@{
    ViewBag.Title = "Index02Js";
}

<div id="box" style="width:400px; height: 200px;">
    内容部分
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index02.js"></script>
}
