@model dynamic

@{
    ViewBag.Title = "Index05Data";
}

<div id="rr" class="easyui-resizable" style="width:100px; height:100px; border:solid 1px black" data-options="maxWidth:600, maxHeight:400, edge:5"></div>
