@model dynamic

@{
    ViewBag.Title = "Index01";
}

<div class="easyui-dialog" style="width:400px;height:200px;" data-options="title:'My Dialog', collapsible:true, iconCls:'icon-ok', onOpen:function() {}">
    dialog content
</div>
