@model dynamic

@{
    ViewBag.Title = "Index09Js";
}

<div id="box" title="My Panel">
    <p>内容区域</p>
</div>

<div id="tt">
    <a class="icon-add" onclick="javascript: alert('add');"></a>
    <a class="icon-edit"> </a>
    <a class="icon-delete"> </a>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index09.js"></script>
}
