@model dynamic

@{
    ViewBag.Title = "Index20Js";
}

<input id="ss" style="width: 300px" />

<div id="box" style="width: 120px">
    <div data-options="name:'all', iconCls:'icon-ok'">All News</div>
    <div data-options="name:'sports'">Sports News</div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index20.js"></script>
}
