@model dynamic

@{
    ViewBag.Title = "Index32Data";
}

<table class="easyui-datagrid" data-options="width:400">
    <thead>
        <tr>
            <th data-options="field:'username'">账号</th>
            <th data-options="field:'email'">邮件</th>
            <th data-options="field:'create'">注册时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>蜡笔小新</td>
            <td>xiaoxin@163.com</td>
            <td>2014-10-1</td>
        </tr>
        <tr>
            <td>樱桃小丸子</td>
            <td>yingtao@163.com</td>
            <td>2014-10-2</td>
        </tr>
        <tr>
            <td>黑崎一护</td>
            <td>yihu@163.com</td>
            <td>2014-10-3</td>
        </tr>
    </tbody>
</table>