@model dynamic

@{
    ViewBag.Title = "Index08Js";
}

<div id="box" style="width: 400px;">
</div>


    @section scripts {
        <script type="text/javascript" src="~/Scripts/myeasyui/index08.js"></script>
    }
