@model dynamic

@{
    ViewBag.Title = "Index35Js";
}

<table id="box" style="width:500px"></table>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index35.js"></script>
}
