@model dynamic

@{
    ViewBag.Title = "Index13Js";
}

<div id="box" style="width:600px;height:400px" title="My Window">
    窗口
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index13.js"></script>
}
