@model dynamic

@{
    ViewBag.Title = "Index24Js";
}

<div id="box" style="width: 200px; height: 200px"></div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index24.js"></script>
}
