@model dynamic

@{
    ViewBag.Title = "Index31Data";
}

<form id="box" method="post">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" class="easyui-validatebox" data-options="required:true"/>
    </div>
</form>