<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--
      Bootstrapper 启动配置

      本配置定义了 Alexinea.Bootstrapper 启动时所依赖的 IoC 解析器的类型名。
      本应用系统与该 IoC 解析器之间为解藕关系，不在程序集中直接引用，
      需要将该 IoC 解析器所在的程序集及其依赖类库放入本应用系统的 Bin 文件夹内。

      本配置为必填项目，缺失后将无法引导系统初始化。
  　-->
    <add key="StartupResolver" value="DomainEvent.Unity.UnityDependencyResolver, DomainEvent.Unity" />

    <!--
      领域事件总线配置路径

      默认配置为：
        Configurations\DomainEventBus.config

      本参数为选填参数，但当项目中有使用到 Alexinea.Domains.DomainEventBus 时，本参数为必填项目。
      当项目为必填且本配置不存在时，将使用默认配置。
  　-->
    <add key="EntryEventBus-ConfigSource" value="DomainEventBus.config" />
  </appSettings>

  <!--Unity IoC Section-->
  <unity configSource="Unity.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>