<?xml version="1.0" encoding="utf-8"?>
<!--
    领域事件总线配置文件

    EventBus                领域事件总线配置根节点
      Aliases
        Alias               别名配置
          alias             别名名称
          type              别名类型
      EventAggregators
        EventAggregator     领域事件聚合
          name              名称，将根据该值获得本组配置
          expireTime        过期时间，单位为秒
          EventHandlers
            EventHandler    领域事件处理器
              name          领域事件处理器名称
              handlerType   领域事件处理器类型
              eventType     领域事件类型
              resolverName  领域事件接口 IoC 解析名称

    领域事件总线将根据本配置调用 IoC 实例化接口，并将之订阅到领域事件聚合内。
    领域事件总线将通过调用 DomainBus.Publish(eventAggregatorName) 来调用
    领域事件聚合内的 Publish 来实现领域事件的发布。
-->
<EventBus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Aliases>
    <Alias alias="DomainEventA" type="DomainEventA.ProductSnapCreatedEventHandlerA, DomainEventA" />
    <Alias alias="DomainEventB" type="DomainEventB.ProductSnapCreatedEventHandlerB, DomainEventB" />
    <Alias alias="DomainEvn" type="DomainEvent.ProductSnapCreatedEvent, DomainEvent" />
  </Aliases>
  <EventAggregators>
    <EventAggregator name="ProductSnpCrtEvnAgr" expireTime="60" expireType="1">
      <EventHandlers>
        <EventHandler name="DomainEventDemoA" handlerType="DomainEventA" eventType="DomainEvn" resolverName="ProductSnapCreatedEventHandlerA" />
        <EventHandler name="DomainEventDemoB" handlerType="DomainEventB" eventType="DomainEvn" resolverName="ProductSnapCreatedEventHandlerB" />
      </EventHandlers>
    </EventAggregator>
  </EventAggregators>
</EventBus>