<?xml version="1.0" encoding="utf-8"?>

<!--
    Unity IoC 主配置文档

    更多信息可以访问：
      https://msdn.microsoft.com/zh-cn/library/ff660914(v=PandP.20)
-->

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="Transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />

  <!--DomainEventBus 领域事件总线配置-->
  <alias alias="RegisterDomainEventHandler" type="DomainEvent.Core.IDomainEventHandler, DomainEvent" />
  <alias alias="RegisterProductSnapCreatedEvent" type="DomainEvent.ProductSnapCreatedEvent, DomainEvent" />
  <alias alias="ProductSnapCreatedEventHandlerA" type="DomainEventA.ProductSnapCreatedEventHandlerA, DomainEventA" />
  <alias alias="ProductSnapCreatedEventHandlerB" type="DomainEventB.ProductSnapCreatedEventHandlerB, DomainEventB" />

  <container>
    <!--DomainEventBus 领域事件总线配置-->
    <register name="ProductSnapCreatedEventHandlerA" type="RegisterDomainEventHandler" mapTo="ProductSnapCreatedEventHandlerA"></register>
    <register name="ProductSnapCreatedEventHandlerB" type="RegisterDomainEventHandler" mapTo="ProductSnapCreatedEventHandlerB"></register>
  </container>
</unity>