<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <entityFramework>
    
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>

    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="D:\EfLog.txt" />
          <parameter value="true" type="System.Boolean" />
        </parameters>
      </interceptor>
    </interceptors>

    <contexts>
      
      <context type="CodeStudy.EntityFrameworkDbContext.DataAccess.DataAnnotation.Chapter02.BreakAwayContext, CodeStudy.EntityFrameworkDbContext.DataAccess">
        <!--<databaseInitializer type="CodeStudy.CodeFirst.DataAccess.BlogInitializer, CodeStudy.CodeFirst.DataAccess" />-->
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[CodeStudy.EntityFrameworkDbContext.DataAccess.DataAnnotation.Chapter02.BreakAwayContext, CodeStudy.EntityFrameworkDbContext.DataAccess], [CodeStudy.EntityFrameworkDbContext.DataAccess.MigrationsDataAnnotionChapter02.Configuration, CodeStudy.EntityFrameworkDbContext.DataAccess]], EntityFramework" />
      </context>
      
      <!--<context type="CodeStudy.EntityFrameworkDbContext.DataAccess.DataAnnotation.Chapter02.BreakAwayContext, CodeStudy.EntityFrameworkDbContext.DataAccess" disableDatabaseInitialization="true" />--> 

    </contexts>  
    

  </entityFramework>
  
  <connectionStrings>
    <add name="RoleUserContext" connectionString="Server=127.0.0.1;Database=RoleUser;User ID=sa;Password=sa;Min Pool Size=4;Max Pool Size=8" providerName="System.Data.SqlClient" />
    <add name="OrderContext" connectionString="Server=127.0.0.1;Database=Order;User ID=sa;Password=sa;Min Pool Size=4;Max Pool Size=8" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>