@model dynamic

@{
    ViewBag.Title = "Index14Data";
}

<div id="box" title="My Dialog" style="width: 400px; height: 200px" class="easyui-dialog" data-options="iconCls:'icon-save',resizable:true,modal:true">
    对话框
</div>
