@model dynamic

@{
    ViewBag.Title = "Index15Data";
}

<div id="box" style="width:300px;height:200px;" class="easyui-accordion">
    <div title="accordion1">accordion1</div>
    <div title="accordion2">accordion2</div>
    <div title="accordion3">accordion3</div>
</div>
