@model dynamic

@{
    ViewBag.Title = "Index16Js";
}

<div id="box" style="width: 120px" class="easyui-menu">
    <div id="new">新建</div>
    <div>
        <span>打开</span>
        <div style="width: 150px">
            <div>Word</div>
            <div>Excel</div>
            <div>PowerPoint</div>
        </div>
    </div>
    <div data-options="iconCls:'icon-save', href:'/EasyUI/Index16Data'">保存</div>
    <div class="menu-sep"></div>
    <div>退出</div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index16.js"></script>
}
