@model dynamic

@{
    ViewBag.Title = "Index36Data";
}

<ul class="easyui-tree">
    <li>
        <span>系统管理</span>
        <ul>
            <li>
                <span>主机信息</span>
                <ul>
                    <li>版本信息</li>
                    <li>数据库信息</li>
                </ul>
            </li>
            <li>更新信息</li>
            <li>程序信息</li>
        </ul>
    </li>
    <li>
        <span>会员管理</span>
        <ul>
            <li>新增会员</li>
            <li>审核会员</li>
        </ul>

    </li>
</ul>