@model dynamic

@{
    ViewBag.Title = "Index19Js";
}

<div id="content" style="height:200px"></div>
<div id="box" style="background: #efefef; border: 1px solid #ccc"></div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index19.js"></script>
}
