@model dynamic

@{
    ViewBag.Title = "Index05Js";
}

<div id="rr" style="width:100px; height:100px; border:solid 1px black" data-options=""></div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index05.js"></script>
}