@model dynamic

@{
    ViewBag.Title = "Index18Js";
}

<a href="javascript:void(0)" id="edit" class="easyui-splitbutton" data-options="menu:'#box',iconCls:'icon-edit'">编辑</a>

<div id="box" style="width:100px" class="easyui-menu">
    <div data-options="iconCls:'icon-ok'">Ok</div>
    <div data-options="iconCls:'icon-cancel'">Cancel</div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index18.js"></script>
}
