@model dynamic

@{
    ViewBag.Title = "Index04Js";
}

<div id="dd" style="width:600px; height:400px; background:black "></div>

<div id="box" style="width:100px; height:100px; background-color: #ccc">
    <span id="pox">内容部分</span>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/myeasyui/index04.js"></script>
}